form.tgForms fieldset{
  border: 2px solid #000000;
  border-radius: 6px;
  margin-bottom: 20px;
  margin-right: 15px;
  margin-left: 20px;
}

form.tgForms * fieldset{
  border: 2px solid #000000;
  border-radius: 6px;
  margin-bottom: 20px;
  margin-right: 15px;
  counter-reset:step;
  background-color: #f1f1f1;
}

img#ajaxloader {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

span.icon {
  margin-left:5px;
}

li.careful {
    color:red;
}

form.tgForms * fieldset * fieldset{
  border: 2px solid #000000;
  border-radius: 6px;
  margin-bottom: 20px;
  margin-right: 15px;
  counter-reset:step;
  background-color: #e1e1e1;
}

form.tgForms * fieldset * fieldset * fieldset{
  border: 2px solid #000000;
  border-radius: 6px;
  margin-bottom: 20px;
  margin-right: 15px;
  counter-reset:step;
  background-color: #d1d1d1;
}

div.modal-content{
    height:auto;
}

form.tgForms label {
  width: 100%;
  padding-left: 20px;
  padding-right: 20px;
}

form.tgForms span.label {
  color: black;
  font-size: 14px;
  padding-left: 20px;

}

form.tgForms span.repeat,
form.tgForms span.delete {
  color: #428bca;
  cursor: pointer;
  font-weight: normal;
}

form.tgForms span.mandatory {
  color: #CC0033;
  cursor: pointer;
  font-weight: normal;
}

form.tgForms div.tgforms\:button div,
form.tgForms div.tgforms\:checkbox input{
  margin-left: 20px;
}


form.tgForms div.subFormsSHACL\:dropdown{
  margin-top: 5px;
  /*margin-left:10px;*/
}

div#content {
  margin-left: 10px;
  margin-right: 10px;
}



div.imageBox {
     float: left;
     padding: 20px;
     background: #eee;
     margin-bottom: 20px;
     margin-top: 20px;
     clear:left;
}

input[type="checkbox"] {
  width: 15px;
  height: 15px;
  border-radius: 15px;
  border: 2px solid #8cad2d;
  background-color: #fff;
  display: block;
  content: "";
  float: left;
  margin-right: 5px;
}

div.uriInfo{
	margin-top:5px;
	margin-left:5px;
	width:400px;
}

div.saveInfo{
	margin-top:5px;
	margin-left:5px;
	width:400px;
}

div.databaseOperations{
	margin-top:20px;
	margin-left:5px;
}

button.classSelection{
	margin-top:5px;
}

button.listClassObjects{
	margin-top:5px;
}

input.objectChoice{
	margin-left:5px !important;
}

strong.subFormObjectChoice{
	margin-left:20px;
}


div.textgridTitle{
	margin-top:5px;
	margin-bottom:5px;
}

fieldset.title{
	border: 1px solid #ddd !important;
	margin: 0;
	xmin-width: 0;
	padding: 10px;       
	position: relative;
	border-radius:4px;
	background-color:#f5f5f5;
	padding-left:10px!important;		
}	
	
legend.title{
	font-size:20px;
	font-weight:bold;
	margin-bottom: 10px; 
	width: auto !important; 
	border: 1px solid #ddd;
	border-radius: 4px; 
	padding: 5px 5px 5px 10px; 
	background-color: #ffffff;
	float : left;
}

span.legendSpan{
	margin-top:3px;
	margin-bottom:10px;
	margin-left:3px;
	margin-right:3px;
}

div.buttonAndInput{
	display:flex;
	justify-content: center;
	
}

div.uploadTTL{
	width:30%;
	margin-top:10px;	
}

a.objectFunctions {
	float:left;	
}

span.objectFunctions{
	margin-top:5px;
	margin-left:5px;
}

div.queryFilter{
  float:left;
	margin-top:5px;
	margin-bottom:5px;
  margin-right: 5px;
}

div.filterSettings{
  display:inline-block;
}

form {
  /*display:inline-block;*/
  vertical-align:top;
}

span.removeFilter {
  margin-left: 5px;
}